In [1]:
import csv
from datetime import datetime

import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

import pandas as pd
import re

import statsmodels.api as sm
import statsmodels.formula.api as smf
import patsy

from IPython.display import Image
import seaborn as sns

C:\Users\Arina\Anaconda3\lib\site-packages\statsmodels\compat\pandas.py:56: FutureWarning: The pandas.core.datetools module is deprecated and will be removed in a future version. Please use the pandas.tseries module instead.
  from pandas.core import datetools

In [2]:
# pandas display settings

pd.set_option('display.max_columns', 50)
pd.set_option('display.max_rows', 50)
pd.set_option('display.precision', 3)

### 1. Read in the data

In [3]:
ls ..\data_local

 Volume in drive C is Windows
 Volume Serial Number is 0AC5-9A85

 Directory of C:\Users\Arina\data_science\metis\project3\data_local

02/08/2018  08:00 PM    <DIR>          .
02/08/2018  08:00 PM    <DIR>          ..
02/08/2018  03:58 PM        26,409,403 whales_encounters.json
02/07/2018  02:21 PM           165,343 whales_encounters_subset1.json
02/07/2018  05:44 PM         4,066,830 whales_encounters_subset2.json
02/08/2018  03:32 PM        25,810,202 whales_encounters_subset3.json
               4 File(s)     56,451,778 bytes
               2 Dir(s)  586,978,291,712 bytes free

In [4]:
filepath = '..\data_local\whales_encounters.json'
df = pd.read_json(filepath, dtype = False)
df.head()

,additional_comments,beh_role,behavior,encounter_date,encounter_id,encounter_location_info,encounter_sex,est_size_best,group_behavior,group_type,individual_id,life_stage,locality,number_calves,occurrence_id,photographer,pos_type,region_name,scarring,sighting,sighting_comments,status,submitter,url,vessel
0,"[ \r\n\r\n, \r\n \r\n\r\n]",[],"[ , \r\n \r\n Solo\r\n \r\n]",\r\n 2004-8-16 9:17\r\n,[: 10059\r\n ],"[ British Columbia\r\n \r\n , \r\n\r\n , : ...",male \r\n\r\n,"[ , 1\r\n \r\n]","[ , Fluke Slap\r\n \r\n]","[ , Single\r\n \r\n]",460044\r\n,"[ , \r\n \r\n]","[ , Ikeda Inlet to Juan Perez Sound\r\n \r\n]","[ , 0\r\n \r\n]",DFOC:Mon Aug 16 00:00:00 EDT 2004:N2:2,"[ \r\n \t, John Calambokidis \r\n , \r\n\r\n...","[ , Precise\r\n \r\n]","[ , Northern British Columbia\r\n \r\n]",\r\n\r\nNone\r\n \r\n\r\n,2\r\n \r\n,"[ , TAIL LOBBING\r\n \r\n]",\r\n Status: alive \r\n,"[ \r\n \r\n , Department of Fisheries and Oce...",http://www.splashcatalog.org:80/encounters/enc...,"[ , N2\r\n \r\n]"
1,"[ \r\n\r\n, \r\n \r\n\r\n]",[],"[ , \r\n \r\n Unspecified competitive group ...",\r\n 2004-3-29 12:53\r\n,[: 1006\r\n ],"[ Baja California\r\n \r\n , \r\n\r\n , : M...",male \r\n\r\n,"[ , 6\r\n \r\n]","[ , Competitive\r\n \r\n]","[ , Competitive Group\r\n \r\n]",420485\r\n,"[ , \r\n \r\n]","[ , Los Frailes\r\n \r\n]","[ , 0\r\n \r\n]",UABCS:Mon Mar 29 00:00:00 EST 2004:RA:6,"[ \r\n \t, \r\n , \r\n\r\n\r\n]","[ , Precise\r\n \r\n]","[ , Mexico- Baja Calfiornia\r\n \r\n]",\r\n\r\nNone\r\n \r\n\r\n,6\r\n \r\n,[],\r\n Status: alive \r\n,"[ \r\n \r\n , Universidad Autonoma de Baja Ca...",http://www.splashcatalog.org:80/encounters/enc...,"[ , RA\r\n \r\n]"
2,"[ \r\n\r\n, \r\n \r\n\r\n]","[ , AD\r\n \r\n]","[ , \r\n \r\n Unknown\r\n \r\n]",\r\n 2004-8-26 9:00\r\n,[: 10056\r\n ],"[ Kodiak Island\r\n \r\n , \r\n\r\n , : NGO...",male \r\n\r\n,"[ , 40\r\n \r\n]","[ , Feeding\r\n \r\n]","[ , UNKN\r\n \r\n]",472177\r\n,"[ , \r\n \r\n]","[ , KODIAK\r\n \r\n]","[ , 1\r\n \r\n]",UAFK:Thu Aug 26 00:00:00 EDT 2004:DU:1,"[ \r\n \t, \r\n , \r\n\r\n\r\n]","[ , Precise\r\n \r\n]","[ , Northern Gulf of Alaska\r\n \r\n]",\r\n\r\nNone\r\n \r\n\r\n,1\r\n \r\n,"[ , large feeding aggregation_ loose affilia...",\r\n Status: alive \r\n,"[ \r\n \r\n , University of Alaska, Fairbanks...",http://www.splashcatalog.org:80/encounters/enc...,"[ , DU\r\n \r\n]"
3,"[ \r\n\r\n, \r\n \r\n\r\n]","[ , UN\r\n \r\n]","[ , \r\n \r\n Unknown\r\n \r\n]",\r\n 2004-8-26 9:00\r\n,[: 10055\r\n ],"[ Kodiak Island\r\n \r\n , \r\n\r\n , : NGO...",unknown \r\n\r\n,"[ , 40\r\n \r\n]","[ , Feeding\r\n \r\n]","[ , UNKN\r\n \r\n]",472380\r\n,"[ , \r\n \r\n]","[ , KODIAK\r\n \r\n]","[ , 1\r\n \r\n]",UAFK:Thu Aug 26 00:00:00 EDT 2004:DU:1,"[ \r\n \t, \r\n , \r\n\r\n\r\n]","[ , Precise\r\n \r\n]","[ , Northern Gulf of Alaska\r\n \r\n]",\r\n\r\nNone\r\n \r\n\r\n,1\r\n \r\n,"[ , large feeding aggregation_ loose affilia...",\r\n Status: alive \r\n,"[ \r\n \r\n , University of Alaska, Fairbanks...",http://www.splashcatalog.org:80/encounters/enc...,"[ , DU\r\n \r\n]"
4,"[ \r\n\r\nMom?, \r\n \r\n\r\n]","[ , G3\r\n \r\n]","[ , \r\n \r\n Trio, non-competitive\r\n \r\n]",\r\n 2004-9-25 16:20\r\n,[: 10044\r\n ],"[ California\r\n \r\n , \r\n\r\n , : CA-OR\...",unknown \r\n\r\n,"[ , 3\r\n \r\n]",[],"[ , Mom calf Escort\r\n \r\n]",450262\r\n,"[ , \r\n \r\n]","[ , N. Cordell Bank\r\n \r\n]","[ , 0?\r\n \r\n]",CRC:Sat Sep 25 00:00:00 EDT 2004:N2:6,"[ \r\n \t, John Calambokidis \r\n , \r\n\r\n...","[ , Precise\r\n \r\n]","[ , California-Oregon\r\n \r\n]",\r\n\r\nNone\r\n \r\n\r\n,6\r\n \r\n,[],\r\n Status: alive \r\n,"[ \r\n \r\n , Cascadia Research Collective\r\...",http://www.splashcatalog.org:80/encounters/enc...,"[ , N2\r\n \r\n]"

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19185 entries, 0 to 19184
Data columns (total 25 columns):
additional_comments        19185 non-null object
beh_role                   19185 non-null object
behavior                   19185 non-null object
encounter_date             19185 non-null object
encounter_id               19185 non-null object
encounter_location_info    19185 non-null object
encounter_sex              19185 non-null object
est_size_best              19185 non-null object
group_behavior             19185 non-null object
group_type                 19185 non-null object
individual_id              19185 non-null object
life_stage                 19185 non-null object
locality                   19185 non-null object
number_calves              19185 non-null object
occurrence_id              19185 non-null object
photographer               19185 non-null object
pos_type                   19185 non-null object
region_name                19185 non-null object
scarring                   19185 non-null object
sighting                   19185 non-null object
sighting_comments          19185 non-null object
status                     19185 non-null object
submitter                  19185 non-null object
url                        19185 non-null object
vessel                     19185 non-null object
dtypes: object(25)
memory usage: 3.7+ MB

In [6]:
df.shape

(19185, 25)

In [7]:
# make a copy of the df, because reading in json takes a while
df2 = df.copy()

In [8]:
df2.columns

Index(['additional_comments', 'beh_role', 'behavior', 'encounter_date',
       'encounter_id', 'encounter_location_info', 'encounter_sex',
       'est_size_best', 'group_behavior', 'group_type', 'individual_id',
       'life_stage', 'locality', 'number_calves', 'occurrence_id',
       'photographer', 'pos_type', 'region_name', 'scarring', 'sighting',
       'sighting_comments', 'status', 'submitter', 'url', 'vessel'],
      dtype='object')

### 2. Clean raw data fields

In [9]:
# list-to-string cleaning lambda
list_to_str = lambda lst: re.sub(r'[():\r\n]', '', ', '.join(lst))

# list-to-count cleaning lambda
list_to_count = lambda lst: len(lst)

# method for making flag vars from text string vars based on regex matching
# target_regex exmple: r'translat.*'
def flag_by_regex(target_regex, str_to_search_in):
    search_result = re.search(target_regex, str_to_search_in, re.IGNORECASE)
    if search_result:
        return 1
    else:
        return 0
    
    
# target_regex exmple: r'\d{4}'
def extract_by_regex(target_regex, str_to_search_in):
    search_result = re.search(target_regex, str_to_search_in, re.IGNORECASE)
    if search_result:
        return search_result.group(0)
    else:
        return ''

In [10]:
# encounter_id
# e.g.: [: 10056\r\n ]
df2['encounter_id'] = df2['encounter_id'].apply(list_to_str)

In [11]:
# individual_id
# e.g.: '460044\r\n'
df2['individual_id'] = df2['individual_id'].apply(lambda s: s.strip())

In [12]:
# occurrence_id -- fine as it is
df2['occurrence_id'][0]

'DFOC:Mon Aug 16 00:00:00 EDT 2004:N2:2'

In [13]:
# encounter_date
df2['encounter_date'] = pd.to_datetime(df2['encounter_date'].apply(lambda s: s.strip()))

In [14]:
## Location info
df2['location_name'] = df2['encounter_location_info'].apply(lambda a: a[0].strip())
df2['location_id'] = df2['encounter_location_info'].apply(lambda a: re.sub(r'[:\r\n]', '', a[2]).strip())
# Latitude 
df2['latitude'] = pd.to_numeric(df2['encounter_location_info'].apply(lambda a: a[5].strip()))
# Longitude  
df2['longitude'] = pd.to_numeric(df2['encounter_location_info'].apply(lambda a: a[8].strip()))

df2 = df2.drop(['encounter_location_info'], axis=1)

In [15]:
## More location fields
# locality - blank for over 2,000 obs, so not using it.
df2 = df2.drop(['locality'], axis=1)
# region_name
df2['region_name'] = df2['region_name'].apply(lambda a: a[1].strip())

In [16]:
## Surveyor details
# vessel
df2['vessel'] = df2['vessel'].apply(lambda a: a[1].strip())

In [17]:
# submitter
df2['submitter'] = df2['submitter'].apply(lambda a: a[1].strip())

In [18]:
# photographer
df2['photographer'] = df2['photographer'].apply(lambda a: a[1].strip())

In [19]:
## behavior
# behavior, beh_role
df2['behavior'] = df2['behavior'].apply(lambda a: a[1].strip())
df2['beh_role'] = df2['beh_role'].apply(lambda a: ''.join(a).strip())

In [20]:
## group behavior
# group_behavior, group_type
df2['group_behavior'] = df2['group_behavior'].apply(lambda a: ''.join(a).strip())
df2['group_type'] = df2['group_type'].apply(lambda a: ''.join(a).strip())

In [21]:
# best estimate of group size
df2['est_group_size'] = pd.to_numeric(df2['est_size_best'].apply(lambda a: ''.join(a).strip()))
df2 = df2.drop(['est_size_best'], axis=1)

In [22]:
## sighting -- need to clean these further
# sighting -- this field is not useful, looks like it was inconsistently used for different purposes by surveyors
# so I'm dropping it
df2 = df2.drop(['sighting'], axis=1)

#len(df2['sighting'].value_counts())

#df2['sighting'].value_counts()

In [23]:
df2['sighting_comments'] = df2['sighting_comments'].apply(lambda a: ''.join(a).strip())

In [24]:
len(df2['sighting_comments'].unique())

3416

In [25]:
df2['sighting_comments'].unique()

array(['TAIL LOBBING', '',
       'large feeding aggregation_  loose affiliations_  highly fluid groups',
       ...,
       "Both have white pecs_ Mn's would get 400 yds apart before coming back together_",
       'This humpback was mostly on the surface playing in a clump of kelp, poking his nose out and rolling, pec-slapping, etc.',
       'Whales too dispersed to effectively work from RHIB.'], dtype=object)

In [26]:
df2['sighting_comments'].value_counts()

                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                       11224
----                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                     215
COOK INLET                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                               157
Start Dec Lat/Long corrected based on GIS analysis of original data- 20120306                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                             97
Approximate LAT/LONG.  No sightings data provided - all IDs entered under one sighting.                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                   84
large feeding aggregation_ loose associations                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                             81
Approximate LAT/LONG.  Approximate times.                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                 55
this shoal was entered as 34 separate pods in the notes, but entered in DB as one shoal. Many of the animals are the same throughout the day.                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                             46
POSSIBLE MOM AND CALF FRAMES 100 AND 1517USED BOTH NIKON AND CANON CAMERAS, CANON FILES ARE 1489-1575                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                     46
LOTS OF DIFFERENT SUBGROUPS (SEE SEPARATE DATASHEETS FOR EACH SUBGROUP). SPREAD OUT OVER SEVERAL NM. MILLING, POSSIBLY FEEDING (NOT TRAVELLING, BUT MOVING AROUND). DATA COLLECTED FROM SHIP & SKIFF SIMULTANEOUSLY ON DIFFERENT SUBGROUPS.                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                               46
large, fluid aggregation                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                  42
Position Estimate: Gen'l Area +/- ~10 miles                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                               41
probable subsurface feeding                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                               40
large feeding aggregation_  loose affiliations_  highly fluid groups                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                      38
DATA COLLECTED ON SEVERAL SUBGROUPS - SEE SEPARATE DATA SHEETS. IN MORNING DATA COLLECTED FROM BOTH SKIFF & SHIP CONCURRENTLY. ALL AFTERNOON DATA FROM SHIP. SUBGROUPS MILLING. SOME SURFACE ACTIVITY (BREACHING).                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                        35
N W                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                       34
Approximate LAT/LONG.                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                     30
Addt'l photographers:\r\n\r\nMichael Richlen   SWFC-MFR-20041026-C-0003-0224\r\nMeghan Ferguson    SWFC-MCF-20041026-B-0051-0115\r\nJulie Oswald   SWFC-JNO-20041026-C-0119-0127\r\nCornelia Oedekoven   SWFC-CSO-20041026-F-0032-0197\r\n\r\nMN1: SKIPPED\r\nMN14: PQ: NO FLUKE ID\r\nMN24: SAME AS AR1-MAC295A, MN3: BIOP: MAC040724.02\r\nMN28: PQ: NO FLUKE ID\r\nMN29: SKIPPED\r\nMN33: SKIPPED\r\nMN36: PQ: NO FLUKE ID\r\nMN37: PQ: NO FLUKE ID\r\nMN44: SKIPPED\r\nMN49: SKIPPED\r\nMN54: SKIPPED\r\nMN55: SKIPPED                                                                                                                                                                                                                                                30
this shoal lasted all day, lots of prey, primarily zooplankton, lots of feeding.                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                          30
NO BIOPSIES ATTEMPTED                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                     30
ADDT'L PH:  Michael Richlen SWFC-MFR-20040723-E  Fr:001-140\r\n\r\nMN4: SAME AS AR1-MAC293Z, MN2: BIOP: MAC040723.08\r\n\r\nMN3: SAME AS AR1-MAC292W, MN2: BIOP: MAC040723.10AB\r\n\r\nMN10: SAME AS AR1-MAC266CC AND EE, MN1\r\n\r\nMN11: SAME AS AR2-MAC292 CC, MN3\r\n\r\nMN12: SAME AS AR2-MAC292CC, MN2\r\n\r\nMN14: SAME AS AR1-MAC292 FF, MN1: BIOP: MAC040723.27AB\r\n\r\nMN16: SAME AS AR1-MAC292S, MN1: BIOP: MAC040723.18AB\r\n\r\nMN18: BIOP: MAC040723.19: SAME AS AR1-MAC292RMN1\r\n\r\nMN21: SAME AS AR2-MAC292GG, MN4\r\n\r\nMN26: BIOP: MAC040723.23AB: SAME AS AR1-MAC292I, MN1 AND G, MN2\r\n\r\nMN27: SAME AS AR1-MAC292G, MN1, H, MN1: BIOPMAC040723.22AB\r\n\r\nMN28: SAME AS AR1-MAC292KMN1\r\n\r\nMN31: SAME AS AR1-MAC292C, MN1 AND C, MN3       27
feeding aggregation, loose and temporary affiliations                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                     27
Shoal                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                     26
LEFT WHALES DUE TO SNOW                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                   25
all whales in this group were in smaller groups, but recorded as a shoal.                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                 24
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                       ...

In [27]:
## comments
df2['additional_comments'] = df2['additional_comments'].apply(lambda a: ''.join(a).strip())

In [28]:
## whale description
df2['sex'] = df2['encounter_sex'].apply(lambda a: a.strip())
df2 = df2.drop(['encounter_sex'], axis=1)

In [29]:
# life_stage -- all empty
#df2['life_stage'].apply(lambda a: ''.join(a).strip()).value_counts()
df2 = df2.drop(['life_stage'], axis=1)

In [30]:
# scarring
def parse_scarring(s):
    s = s.strip()
    if s.lower() == 'none':
        n = 0
    elif s == '':
        n = np.nan
    else:
        n = 1
    return n

#df2['scarring'].apply(parse_scarring).value_counts(dropna=False)
df2['scarring_flag'] = df2['scarring'].apply(parse_scarring)
#df2[df2['scarring_flag'] == 1]
df2 = df2.drop(['scarring'], axis=1)

In [31]:
# status -- all whales in the set are marked as Alive in this field, so this field is not informative 
# and I'm dropping it

#df2['status'].apply(lambda a: a.strip()).value_counts(dropna=False)
df2 = df2.drop(['status'], axis=1)

In [32]:
# other

In [33]:
def parse_number_calves(a):
    s = ''.join(a).strip()
    s = s.strip('?')
    s = s.strip('+')
    if s.lower() == 'o':
        s = '0'
    if s.lower() == 'nd':
        s = ''
    return s

df2['number_calves'] = pd.to_numeric(df2['number_calves'].apply(parse_number_calves))
#pd.to_numeric(df2['number_calves'].apply(parse_number_calves)).value_counts(dropna=False)

In [34]:
# pos_type -- all empty
#df2['pos_type'].apply(lambda a: ''.join(a).strip()).value_counts()
df2 = df2.drop(['pos_type'], axis = 1)

In [35]:
df2.head(20)

,additional_comments,beh_role,behavior,encounter_date,encounter_id,group_behavior,group_type,individual_id,number_calves,occurrence_id,photographer,region_name,sighting_comments,submitter,url,vessel,location_name,location_id,latitude,longitude,est_group_size,sex,scarring_flag
0,,,Solo,2004-08-16 09:17:00,10059,Fluke Slap,Single,460044,0.0,DFOC:Mon Aug 16 00:00:00 EDT 2004:N2:2,John Calambokidis,Northern British Columbia,TAIL LOBBING,Department of Fisheries and Oceans Canada,http://www.splashcatalog.org:80/encounters/enc...,N2,British Columbia,NBC,52.542,-131.202,1.0,male,0.0
1,,,Unspecified competitive group member,2004-03-29 12:53:00,1006,Competitive,Competitive Group,420485,0.0,UABCS:Mon Mar 29 00:00:00 EST 2004:RA:6,,Mexico- Baja Calfiornia,,Universidad Autonoma de Baja California Sur,http://www.splashcatalog.org:80/encounters/enc...,RA,Baja California,MX-BC,23.388,-109.320,6.0,male,0.0
2,,AD,Unknown,2004-08-26 09:00:00,10056,Feeding,UNKN,472177,1.0,UAFK:Thu Aug 26 00:00:00 EDT 2004:DU:1,,Northern Gulf of Alaska,large feeding aggregation_ loose affiliations...,"University of Alaska, Fairbanks, Kodiak",http://www.splashcatalog.org:80/encounters/enc...,DU,Kodiak Island,NGOA,58.626,-152.303,40.0,male,0.0
3,,UN,Unknown,2004-08-26 09:00:00,10055,Feeding,UNKN,472380,1.0,UAFK:Thu Aug 26 00:00:00 EDT 2004:DU:1,,Northern Gulf of Alaska,large feeding aggregation_ loose affiliations...,"University of Alaska, Fairbanks, Kodiak",http://www.splashcatalog.org:80/encounters/enc...,DU,Kodiak Island,NGOA,58.626,-152.303,40.0,unknown,0.0
4,Mom?,G3,"Trio, non-competitive",2004-09-25 16:20:00,10044,,Mom calf Escort,450262,0.0,CRC:Sat Sep 25 00:00:00 EDT 2004:N2:6,John Calambokidis,California-Oregon,,Cascadia Research Collective,http://www.splashcatalog.org:80/encounters/enc...,N2,California,CA-OR,37.681,-122.863,3.0,unknown,0.0
5,,,Unknown,2004-10-20 13:30:00,10064,Feeding,,460031,0.0,DFOC:Wed Oct 20 00:00:00 EDT 2004:RR:2,Luciano Dalla Rosa,Northern British Columbia,one whale joined a single then they both appea...,Department of Fisheries and Oceans Canada,http://www.splashcatalog.org:80/encounters/enc...,RR,British Columbia,NBC,53.209,-129.052,2.0,unknown,0.0
6,,,Solo,2004-10-20 13:04:00,10063,Resting,Single,460313,0.0,DFOC:Wed Oct 20 00:00:00 EDT 2004:RR:1,Luciano Dalla Rosa,Northern British Columbia,,Department of Fisheries and Oceans Canada,http://www.splashcatalog.org:80/encounters/enc...,RR,British Columbia,NBC,53.209,-129.085,1.0,unknown,0.0
7,SPLASH ID updated February 2012 based on gentoype,UN,Unknown,2004-08-26 09:00:00,10054,Feeding,UNKN,700430,1.0,UAFK:Thu Aug 26 00:00:00 EDT 2004:DU:1,,Northern Gulf of Alaska,large feeding aggregation_ loose affiliations...,"University of Alaska, Fairbanks, Kodiak",http://www.splashcatalog.org:80/encounters/enc...,DU,Kodiak Island,NGOA,58.626,-152.303,40.0,female,0.0
8,,,Unknown,2004-10-18 09:12:00,10061,,,460179,0.0,DFOC:Mon Oct 18 00:00:00 EDT 2004:JPT:106,"John Ford, Mark Malleson",Northern British Columbia,,Department of Fisheries and Oceans Canada,http://www.splashcatalog.org:80/encounters/enc...,JPT,British Columbia,NBC,53.905,-130.833,NaN,unknown,0.0
9,,,Solo,2004-08-16 09:39:00,10060,Slow Travel,Single,460275,0.0,DFOC:Mon Aug 16 00:00:00 EDT 2004:N2:3-5,"John Calambokidis, Jessie Huggins",Northern British Columbia,,Department of Fisheries and Oceans Canada,http://www.splashcatalog.org:80/encounters/enc...,N2,British Columbia,NBC,52.542,-131.202,1.0,female,0.0
10,,AD?,Unknown,2004-08-07 10:31:00,10047,Travel,UNKN,430637,0.0,UAFK:Sat Aug 07 00:00:00 EDT 2004:SO:2,,Northern Gulf of Alaska,likely feeding aggregation_ loose and quickly-...,"University of Alaska, Fairbanks, Kodiak",http://www.splashcatalog.org:80/encounters/enc...,SO,Kodiak Island,NGOA,57.875,-151.936,20.0,female,0.0
11,,AD?,Unknown,2004-08-07 10:31:00,10049,Travel,UNKN,472521,0.0,UAFK:Sat Aug 07 00:00:00 EDT 2004:SO:2,,Northern Gulf of Alaska,likely feeding aggregation_ loose and quickly-...,"University of Alaska, Fairbanks, Kodiak",http://www.splashcatalog.org:80/encounters/enc...,SO,Kodiak Island,NGOA,57.875,-151.936,20.0,unknown,0.0
12,,AD?,Unknown,2004-08-07 10:31:00,10048,Travel,UNKN,472435,0.0,UAFK:Sat Aug 07 00:00:00 EDT 2004:SO:2,,Northern Gulf of Alaska,likely feeding aggregation_ loose and quickly-...,"University of Alaska, Fairbanks, Kodiak",http://www.splashcatalog.org:80/encounters/enc...,SO,Kodiak Island,NGOA,57.875,-151.936,20.0,unknown,0.0
13,,AD?,Unknown,2004-08-07 10:31:00,10050,Travel,UNKN,472259,0.0,UAFK:Sat Aug 07 00:00:00 EDT 2004:SO:2,,Northern Gulf of Alaska,likely feeding aggregation_ loose and quickly-...,"University of Alaska, Fairbanks, Kodiak",http://www.splashcatalog.org:80/encounters/enc...,SO,Kodiak Island,NGOA,57.875,-151.936,20.0,unknown,0.0
14,,,Unspecified competitive group member,2004-03-29 12:53:00,1005,Competitive,Competitive Group,420255,0.0,UABCS:Mon Mar 29 00:00:00 EST 2004:RA:6,,Mexico- Baja Calfiornia,,Universidad Autonoma de Baja California Sur,http://www.splashcatalog.org:80/encounters/enc...,RA,Baja California,MX-BC,23.388,-109.320,6.0,male,0.0
15,,AD?,Unknown,2004-08-07 10:31:00,10051,Travel,UNKN,472023,0.0,UAFK:Sat Aug 07 00:00:00 EDT 2004:SO:2,,Northern Gulf of Alaska,likely feeding aggregation_ loose and quickly-...,"University of Alaska, Fairbanks, Kodiak",http://www.splashcatalog.org:80/encounters/enc...,SO,Kodiak Island,NGOA,57.875,-151.936,20.0,unknown,0.0
16,,AD?,Unknown,2004-08-07 10:31:00,10046,Travel,UNKN,472104,0.0,UAFK:Sat Aug 07 00:00:00 EDT 2004:SO:2,,Northern Gulf of Alaska,likely feeding aggregation_ loose and quickly-...,"University of Alaska, Fairbanks, Kodiak",http://www.splashcatalog.org:80/encounters/enc...,SO,Kodiak Island,NGOA,57.875,-151.936,20.0,male,0.0
17,,AD,Unknown,2004-08-07 10:31:00,10045,Travel,UNKN,472136,0.0,UAFK:Sat Aug 07 00:00:00 EDT 2004:SO:2,,Northern Gulf of Alaska,likely feeding aggregation_ loose and quickly-...,"University of Alaska, Fairbanks, Kodiak",http://www.splashcatalog.org:80/encounters/enc...,SO,Kodiak Island,NGOA,57.875,-151.936,20.0,unknown,0.0
18,,AD?,Unknown,2004-08-26 09:00:00,10052,Feeding,UNKN,472171,1.0,UAFK:Thu Aug 26 00:00:00 EDT 2004:DU:1,,Northern Gulf of Alaska,large feeding aggregation_ loose affiliations...,"University of Alaska, Fairbanks, Kodiak",http://www.splashcatalog.org:80/encounters/enc...,DU,Kodiak Island,NGOA,58.626,-152.303,40.0,female,0.0
19,,CA?,Unknown,2004-08-26 09:00:00,10053,Feeding,UNKN,472642,1.0,UAFK:Thu Aug 26 00:00:00 EDT 2004:DU:1,,Northern Gulf of Alaska,large feeding aggregation_ loose affiliations...,"University of Alaska, Fairbanks, Kodiak",http://www.splashcatalog.org:80/encounters/enc...,DU,Kodiak Island,NGOA,58.626,-152.303,40.0,unknown,0.0

In [36]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19185 entries, 0 to 19184
Data columns (total 23 columns):
additional_comments    19185 non-null object
beh_role               19185 non-null object
behavior               19185 non-null object
encounter_date         19185 non-null datetime64[ns]
encounter_id           19185 non-null object
group_behavior         19185 non-null object
group_type             19185 non-null object
individual_id          19185 non-null object
number_calves          13670 non-null float64
occurrence_id          19185 non-null object
photographer           19185 non-null object
region_name            19185 non-null object
sighting_comments      19185 non-null object
submitter              19185 non-null object
url                    19185 non-null object
vessel                 19185 non-null object
location_name          19185 non-null object
location_id            19185 non-null object
latitude               19185 non-null float64
longitude              19185 non-null float64
est_group_size         18431 non-null float64
sex                    19185 non-null object
scarring_flag          17625 non-null float64
dtypes: datetime64[ns](1), float64(5), object(17)
memory usage: 3.4+ MB

In [37]:
df2['individual_id'].value_counts()

420248    35
460293    27
420195    27
420183    25
460065    24
420270    24
420159    23
460336    22
420479    21
550159    21
460388    21
420560    20
420674    19
420412    19
420268    19
430520    19
420389    19
474377    18
540037    18
440144    18
420144    18
420464    18
420200    18
420656    18
550364    17
          ..
700542     1
520193     1
560261     1
520570     1
460013     1
700572     1
430135     1
472651     1
700557     1
472071     1
630551     1
640268     1
520326     1
620360     1
450208     1
430491     1
640296     1
420021     1
430435     1
470493     1
560179     1
630267     1
470916     1
474434     1
640065     1
Name: individual_id, Length: 8489, dtype: int64

In [38]:
df2[df2['individual_id'] == '420195']

,additional_comments,beh_role,behavior,encounter_date,encounter_id,group_behavior,group_type,individual_id,number_calves,occurrence_id,photographer,region_name,sighting_comments,submitter,url,vessel,location_name,location_id,latitude,longitude,est_group_size,sex,scarring_flag
596,dorsal matches to other sightings of T447 scra...,SE,CH/SE,2005-02-26 10:25:00,15438,,CG,420195,0.0,HSU:Sat Feb 26 00:00:00 EST 2005:PA:2,JJ,Mexico- Archipielago Revillagigedo,,Humboldt State University,http://www.splashcatalog.org:80/encounters/enc...,PA,Revillagigedo,MX-AR,18.729,-110.984,3.0,male,0.0
609,"no singers, no groups, windy, return to shore ...",MO,Mother with calf of year,2005-03-01 12:18:00,15443,,MCE,420195,1.0,HSU:Tue Mar 01 00:00:00 EST 2005:PA:4,JJ,Mexico- Archipielago Revillagigedo,"no singers, no groups, windy, return to shore ...",Humboldt State University,http://www.splashcatalog.org:80/encounters/enc...,PA,Revillagigedo,MX-AR,18.779,-111.037,3.0,male,0.0
891,,CH,CH/SE,2005-02-20 15:51:00,15975,,CG,420195,0.0,UNAM:Sun Feb 20 00:00:00 EST 2005:LO:2,SESA,Mexico- Archipielago Revillagigedo,,Universidad Nacional Autonoma de Mexico,http://www.splashcatalog.org:80/encounters/enc...,LO,Revillagigedo,MX-AR,18.861,-110.874,3.0,male,0.0
1291,,SE,CH/SE,2005-02-19 14:38:00,15306,,CG,420195,0.0,UNAM:Sat Feb 19 00:00:00 EST 2005:LO:7,HRN,Mexico- Archipielago Revillagigedo,,Universidad Nacional Autonoma de Mexico,http://www.splashcatalog.org:80/encounters/enc...,LO,Revillagigedo,MX-AR,18.848,-111.025,4.0,male,0.0
1916,"B1 of morning, called G7 in notes field confus...",S/J,Pair,2005-02-23 11:03:00,14166,,SJ,420195,0.0,HSU:Wed Feb 23 00:00:00 EST 2005:PA:1,JJ,Mexico- Archipielago Revillagigedo,,Humboldt State University,http://www.splashcatalog.org:80/encounters/enc...,PA,Revillagigedo,MX-AR,18.725,-110.974,2.0,male,0.0
1963,,CH,CH/SE,2005-02-13 12:00:00,14090,,CG,420195,0.0,UNAM:Sun Feb 13 00:00:00 EST 2005:LO:2,,Mexico- Archipielago Revillagigedo,,Universidad Nacional Autonoma de Mexico,http://www.splashcatalog.org:80/encounters/enc...,LO,Revillagigedo,MX-AR,18.712,-110.960,3.0,male,0.0
2494,,,Pair,2005-02-21 16:46:00,13326,,2,420195,0.0,UNAM:Mon Feb 21 00:00:00 EST 2005:LO:7,HRN,Mexico- Archipielago Revillagigedo,,Universidad Nacional Autonoma de Mexico,http://www.splashcatalog.org:80/encounters/enc...,LO,Revillagigedo,MX-AR,18.829,-111.018,2.0,male,0.0
2552,,SE,CH/SE,2005-03-03 10:18:00,13177,,CG,420195,0.0,UNAM:Thu Mar 03 00:00:00 EST 2005:LO:1,HRN,Mexico- Archipielago Revillagigedo,,Universidad Nacional Autonoma de Mexico,http://www.splashcatalog.org:80/encounters/enc...,LO,Revillagigedo,MX-AR,18.719,-110.920,3.0,male,0.0
2555,,SE,Unknown,2005-03-03 16:02:00,13179,,2,420195,0.0,UNAM:Thu Mar 03 00:00:00 EST 2005:LO:6,CALM,Mexico- Archipielago Revillagigedo,"MARIA, SOLO PIEL",Universidad Nacional Autonoma de Mexico,http://www.splashcatalog.org:80/encounters/enc...,LO,Revillagigedo,MX-AR,18.751,-111.001,2.0,male,0.0
3617,,NA,Nuclear Animal in a competitive group,2004-02-19 00:00:00,1084,,Competitive Group,420195,NaN,UNAM:Thu Feb 19 00:00:00 EST 2004:LO:7,ABV,Mexico- Archipielago Revillagigedo,Start Dec Lat/Long corrected based on GIS anal...,Universidad Nacional Autonoma de Mexico,http://www.splashcatalog.org:80/encounters/enc...,LO,Revillagigedo,MX-AR,18.715,-110.915,NaN,male,0.0
4869,Whale close to our singer,SE,CH/SE,2005-03-09 14:02:00,9955,,CG,420195,0.0,COR:Wed Mar 09 00:00:00 EST 2005:MR:6,DC,Mexico- Archipielago Revillagigedo,,Cornell University,http://www.splashcatalog.org:80/encounters/enc...,MR,Revillagigedo,MX-AR,18.845,-111.030,8.0,male,0.0
6304,,AD,"Trio, non-competitive",2005-02-17 12:00:00,811,,3,420195,0.0,COR:Thu Feb 17 00:00:00 EST 2005:MR:2,DC,Mexico- Archipielago Revillagigedo,,Cornell University,http://www.splashcatalog.org:80/encounters/enc...,MR,Revillagigedo,MX-AR,18.842,-110.955,3.0,male,0.0
6391,,AD,"Trio, non-competitive",2005-02-16 11:29:00,798,,3,420195,0.0,COR:Wed Feb 16 00:00:00 EST 2005:MR:2,AR,Mexico- Archipielago Revillagigedo,,Cornell University,http://www.splashcatalog.org:80/encounters/enc...,MR,Revillagigedo,MX-AR,18.832,-110.923,3.0,male,0.0
8910,,,Unspecified competitive group member,2004-07-24 12:29:00,5003,Milling,Trio (non-comp.),420195,0.0,SWFSC:Sat Jul 24 00:00:00 EDT 2004:AR1:MAC296E,"Holly Fearnbach, Liz Zele",Northern Gulf of Alaska,EMN1: BIOP: MAC040724.12AB\r\n\r\nEMN2: BIOP: ...,Southwest Fisheries Science Center,http://www.splashcatalog.org:80/encounters/enc...,AR1,Kodiak Island,NGOA,56.947,-151.830,3.0,male,0.0
9646,,JOINER,Pair,2004-03-07 11:00:00,4029,,Pair,420195,NaN,HSU:Sun Mar 07 00:00:00 EST 2004:PA:6,JJ,Mexico- Archipielago Revillagigedo,,Humboldt State University,http://www.splashcatalog.org:80/encounters/enc...,PA,Revillagigedo,MX-AR,18.738,-110.994,2.0,male,0.0
9864,,SE,CH/SE,2004-03-23 12:05:00,3777,,Competitive Group,420195,NaN,COR:Tue Mar 23 00:00:00 EST 2004:MR:4,DC,Mexico- Archipielago Revillagigedo,,Cornell University,http://www.splashcatalog.org:80/encounters/enc...,MR,Revillagigedo,MX-AR,18.882,-110.968,9.0,male,0.0
10040,,,Solo,2004-02-18 14:25:00,3583,,Single,420195,NaN,HSU:Wed Feb 18 00:00:00 EST 2004:PA:7,JJ,Mexico- Archipielago Revillagigedo,,Humboldt State University,http://www.splashcatalog.org:80/encounters/enc...,PA,Revillagigedo,MX-AR,18.741,-111.001,1.0,male,0.0
10151,,E2,CH/SE,2004-02-11 12:10:00,3432,,Trio,420195,NaN,UNAM:Wed Feb 11 00:00:00 EST 2004:LO:2,HRN,Mexico- Archipielago Revillagigedo,,Universidad Nacional Autonoma de Mexico,http://www.splashcatalog.org:80/encounters/enc...,LO,Revillagigedo,MX-AR,18.756,-111.001,3.0,male,0.0
10171,,AD,Unspecified competitive group member,2004-02-23 12:00:00,3425,,Competitive Group,420195,NaN,UNAM:Mon Feb 23 00:00:00 EST 2004:LO:4,HRN,Mexico- Archipielago Revillagigedo,,Universidad Nacional Autonoma de Mexico,http://www.splashcatalog.org:80/encounters/enc...,LO,Revillagigedo,MX-AR,18.741,-111.023,8.0,male,0.0
12476,,AD,Pair,2004-02-13 11:46:00,2791,,Pair,420195,NaN,COR:Fri Feb 13 00:00:00 EST 2004:MR:3,GP,Mexico- Archipielago Revillagigedo,,Cornell University,http://www.splashcatalog.org:80/encounters/enc...,MR,Revillagigedo,MX-AR,18.747,-111.000,2.0,male,0.0
12479,,AD,Pair,2004-02-13 11:04:00,2789,,Pair,420195,NaN,COR:Fri Feb 13 00:00:00 EST 2004:MR:2,GP,Mexico- Archipielago Revillagigedo,,Cornell University,http://www.splashcatalog.org:80/encounters/enc...,MR,Revillagigedo,MX-AR,18.747,-110.996,2.0,male,0.0
12546,,PE,Principle Escort in a competitive group,2004-02-11 15:59:00,2787,,Competitive Group,420195,NaN,COR:Wed Feb 11 00:00:00 EST 2004:MR:2A,GP/ DC,Mexico- Archipielago Revillagigedo,,Cornell University,http://www.splashcatalog.org:80/encounters/enc...,MR,Revillagigedo,MX-AR,18.742,-110.985,2.0,male,0.0
15140,,PE,Principle Escort in a competitive group,2004-02-10 13:24:00,1723,,Competitive Group,420195,NaN,HSU:Tue Feb 10 00:00:00 EST 2004:PA:4,JJ,Mexico- Archipielago Revillagigedo,,Humboldt State University,http://www.splashcatalog.org:80/encounters/enc...,PA,Revillagigedo,MX-AR,18.794,-111.058,3.0,male,0.0
16361,,PE,Principle Escort in a competitive group,2004-02-11 10:14:00,2143,,Trio,420195,NaN,COR:Wed Feb 11 00:00:00 EST 2004:MR:2,DC,Mexico- Archipielago Revillagigedo,,Cornell University,http://www.splashcatalog.org:80/encounters/enc...,MR,Revillagigedo,MX-AR,18.756,-111.000,2.0,male,0.0
16381,,AD,Pair,2004-01-26 12:46:00,2130,,Pair,420195,NaN,COR:Mon Jan 26 00:00:00 EST 2004:MR:5,DC,Mexico- Archipielago Revillagigedo,,Cornell University,http://www.splashcatalog.org:80/encounters/enc...,MR,Revillagigedo,MX-AR,18.726,-110.904,2.0,male,0.0
16796,,,Solo,2004-02-27 10:22:00,2081,,Single,420195,NaN,HSU:Fri Feb 27 00:00:00 EST 2004:PA:4,JJ,Mexico- Archipielago Revillagigedo,,Humboldt State University,http://www.splashcatalog.org:80/encounters/enc...,PA,Revillagigedo,MX-AR,18.709,-110.966,1.0,male,0.0
17251,,AD,Pair,2004-02-21 15:20:00,2021,,Pair,420195,NaN,UNAM:Sat Feb 21 00:00:00 EST 2004:LO:7,SSA,Mexico- Archipielago Revillagigedo,,Universidad Nacional Autonoma de Mexico,http://www.splashcatalog.org:80/encounters/enc...,LO,Revillagigedo,MX-AR,18.759,-111.033,2.0,male,0.0

In [39]:
df2[df2['individual_id'] == '420248']['encounter_date'].dt.date.value_counts()

2005-03-29    3
2004-03-07    2
2004-02-25    2
2004-03-20    2
2004-03-23    2
2005-03-17    2
2006-03-23    2
2006-03-07    1
2004-03-11    1
2005-02-26    1
2005-03-31    1
2004-02-21    1
2006-03-15    1
2005-03-16    1
2005-03-12    1
2004-03-26    1
2005-04-06    1
2004-03-09    1
2005-02-23    1
2004-02-20    1
2004-03-22    1
2005-03-28    1
2006-04-02    1
2004-03-13    1
2006-02-24    1
2005-03-05    1
2004-03-12    1
Name: encounter_date, dtype: int64

In [41]:
ls ..

 Volume in drive C is Windows
 Volume Serial Number is 0AC5-9A85

 Directory of C:\Users\Arina\data_science\metis\project3

02/08/2018  02:58 PM    <DIR>          .
02/08/2018  02:58 PM    <DIR>          ..
02/08/2018  02:56 PM    <DIR>          .ipynb_checkpoints
02/08/2018  08:00 PM    <DIR>          data_local
02/10/2018  10:44 PM    <DIR>          project_mcnulty
               0 File(s)              0 bytes
               5 Dir(s)  586,979,639,296 bytes free

In [42]:
# Pickle the cleaned encounter-level dataset
df2.to_pickle('../data_local/whale_encounters_clean.pkl')