In [1]:
# imports
import csv
from datetime import datetime

import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

import pandas as pd
import re

import statsmodels.api as sm
import statsmodels.formula.api as smf
import patsy

from IPython.display import Image
import seaborn as sns

C:\Users\Arina\Anaconda3\lib\site-packages\statsmodels\compat\pandas.py:56: FutureWarning: The pandas.core.datetools module is deprecated and will be removed in a future version. Please use the pandas.tseries module instead.
  from pandas.core import datetools

In [2]:
# Load the pickled cleaned encounters-level data
df = pd.read_pickle('../data_local/whale_encounters_clean.pkl')

In [3]:
df.head()

,additional_comments,beh_role,behavior,encounter_date,encounter_id,group_behavior,group_type,individual_id,number_calves,occurrence_id,...,submitter,url,vessel,location_name,location_id,latitude,longitude,est_group_size,sex,scarring_flag
0,,,Solo,2004-08-16 09:17:00,10059,Fluke Slap,Single,460044,0.0,DFOC:Mon Aug 16 00:00:00 EDT 2004:N2:2,...,Department of Fisheries and Oceans Canada,http://www.splashcatalog.org:80/encounters/enc...,N2,British Columbia,NBC,52.5420,-131.2021,1.0,male,0.0
1,,,Unspecified competitive group member,2004-03-29 12:53:00,1006,Competitive,Competitive Group,420485,0.0,UABCS:Mon Mar 29 00:00:00 EST 2004:RA:6,...,Universidad Autonoma de Baja California Sur,http://www.splashcatalog.org:80/encounters/enc...,RA,Baja California,MX-BC,23.3882,-109.3198,6.0,male,0.0
2,,AD,Unknown,2004-08-26 09:00:00,10056,Feeding,UNKN,472177,1.0,UAFK:Thu Aug 26 00:00:00 EDT 2004:DU:1,...,"University of Alaska, Fairbanks, Kodiak",http://www.splashcatalog.org:80/encounters/enc...,DU,Kodiak Island,NGOA,58.6260,-152.3027,40.0,male,0.0
3,,UN,Unknown,2004-08-26 09:00:00,10055,Feeding,UNKN,472380,1.0,UAFK:Thu Aug 26 00:00:00 EDT 2004:DU:1,...,"University of Alaska, Fairbanks, Kodiak",http://www.splashcatalog.org:80/encounters/enc...,DU,Kodiak Island,NGOA,58.6260,-152.3027,40.0,unknown,0.0
4,Mom?,G3,"Trio, non-competitive",2004-09-25 16:20:00,10044,,Mom calf Escort,450262,0.0,CRC:Sat Sep 25 00:00:00 EDT 2004:N2:6,...,Cascadia Research Collective,http://www.splashcatalog.org:80/encounters/enc...,N2,California,CA-OR,37.6810,-122.8631,3.0,unknown,0.0

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19185 entries, 0 to 19184
Data columns (total 23 columns):
additional_comments    19185 non-null object
beh_role               19185 non-null object
behavior               19185 non-null object
encounter_date         19185 non-null datetime64[ns]
encounter_id           19185 non-null object
group_behavior         19185 non-null object
group_type             19185 non-null object
individual_id          19185 non-null object
number_calves          13670 non-null float64
occurrence_id          19185 non-null object
photographer           19185 non-null object
region_name            19185 non-null object
sighting_comments      19185 non-null object
submitter              19185 non-null object
url                    19185 non-null object
vessel                 19185 non-null object
location_name          19185 non-null object
location_id            19185 non-null object
latitude               19185 non-null float64
longitude              19185 non-null float64
est_group_size         18431 non-null float64
sex                    19185 non-null object
scarring_flag          17625 non-null float64
dtypes: datetime64[ns](1), float64(5), object(17)
memory usage: 3.4+ MB

In [6]:
df['individual_id'].value_counts()

420248    35
460293    27
420195    27
420183    25
460065    24
420270    24
420159    23
460336    22
550159    21
460388    21
420479    21
420560    20
420412    19
420389    19
420268    19
430520    19
420674    19
420144    18
540037    18
440144    18
474377    18
420200    18
420656    18
420464    18
420286    17
550364    17
574032    17
420422    17
420661    17
430107    17
          ..
574193     1
630903     1
530154     1
430212     1
572231     1
560073     1
430645     1
700235     1
430120     1
630650     1
450088     1
560016     1
620256     1
700474     1
470460     1
420575     1
510031     1
700115     1
620246     1
700268     1
572537     1
460376     1
530213     1
440171     1
450096     1
631071     1
631066     1
470949     1
474296     1
472474     1
Name: individual_id, Length: 8489, dtype: int64

In [8]:
df[df['individual_id'] == '420195']

,additional_comments,beh_role,behavior,encounter_date,encounter_id,group_behavior,group_type,individual_id,number_calves,occurrence_id,...,submitter,url,vessel,location_name,location_id,latitude,longitude,est_group_size,sex,scarring_flag
596,dorsal matches to other sightings of T447 scra...,SE,CH/SE,2005-02-26 10:25:00,15438,,CG,420195,0.0,HSU:Sat Feb 26 00:00:00 EST 2005:PA:2,...,Humboldt State University,http://www.splashcatalog.org:80/encounters/enc...,PA,Revillagigedo,MX-AR,18.7294,-110.9842,3.0,male,0.0
609,"no singers, no groups, windy, return to shore ...",MO,Mother with calf of year,2005-03-01 12:18:00,15443,,MCE,420195,1.0,HSU:Tue Mar 01 00:00:00 EST 2005:PA:4,...,Humboldt State University,http://www.splashcatalog.org:80/encounters/enc...,PA,Revillagigedo,MX-AR,18.7795,-111.0373,3.0,male,0.0
891,,CH,CH/SE,2005-02-20 15:51:00,15975,,CG,420195,0.0,UNAM:Sun Feb 20 00:00:00 EST 2005:LO:2,...,Universidad Nacional Autonoma de Mexico,http://www.splashcatalog.org:80/encounters/enc...,LO,Revillagigedo,MX-AR,18.8608,-110.8736,3.0,male,0.0
1291,,SE,CH/SE,2005-02-19 14:38:00,15306,,CG,420195,0.0,UNAM:Sat Feb 19 00:00:00 EST 2005:LO:7,...,Universidad Nacional Autonoma de Mexico,http://www.splashcatalog.org:80/encounters/enc...,LO,Revillagigedo,MX-AR,18.8480,-111.0245,4.0,male,0.0
1916,"B1 of morning, called G7 in notes field confus...",S/J,Pair,2005-02-23 11:03:00,14166,,SJ,420195,0.0,HSU:Wed Feb 23 00:00:00 EST 2005:PA:1,...,Humboldt State University,http://www.splashcatalog.org:80/encounters/enc...,PA,Revillagigedo,MX-AR,18.7248,-110.9737,2.0,male,0.0
1963,,CH,CH/SE,2005-02-13 12:00:00,14090,,CG,420195,0.0,UNAM:Sun Feb 13 00:00:00 EST 2005:LO:2,...,Universidad Nacional Autonoma de Mexico,http://www.splashcatalog.org:80/encounters/enc...,LO,Revillagigedo,MX-AR,18.7116,-110.9601,3.0,male,0.0
2494,,,Pair,2005-02-21 16:46:00,13326,,2,420195,0.0,UNAM:Mon Feb 21 00:00:00 EST 2005:LO:7,...,Universidad Nacional Autonoma de Mexico,http://www.splashcatalog.org:80/encounters/enc...,LO,Revillagigedo,MX-AR,18.8291,-111.0184,2.0,male,0.0
2552,,SE,CH/SE,2005-03-03 10:18:00,13177,,CG,420195,0.0,UNAM:Thu Mar 03 00:00:00 EST 2005:LO:1,...,Universidad Nacional Autonoma de Mexico,http://www.splashcatalog.org:80/encounters/enc...,LO,Revillagigedo,MX-AR,18.7190,-110.9200,3.0,male,0.0
2555,,SE,Unknown,2005-03-03 16:02:00,13179,,2,420195,0.0,UNAM:Thu Mar 03 00:00:00 EST 2005:LO:6,...,Universidad Nacional Autonoma de Mexico,http://www.splashcatalog.org:80/encounters/enc...,LO,Revillagigedo,MX-AR,18.7508,-111.0014,2.0,male,0.0
3617,,NA,Nuclear Animal in a competitive group,2004-02-19 00:00:00,1084,,Competitive Group,420195,NaN,UNAM:Thu Feb 19 00:00:00 EST 2004:LO:7,...,Universidad Nacional Autonoma de Mexico,http://www.splashcatalog.org:80/encounters/enc...,LO,Revillagigedo,MX-AR,18.7155,-110.9155,NaN,male,0.0
4869,Whale close to our singer,SE,CH/SE,2005-03-09 14:02:00,9955,,CG,420195,0.0,COR:Wed Mar 09 00:00:00 EST 2005:MR:6,...,Cornell University,http://www.splashcatalog.org:80/encounters/enc...,MR,Revillagigedo,MX-AR,18.8450,-111.0301,8.0,male,0.0
6304,,AD,"Trio, non-competitive",2005-02-17 12:00:00,811,,3,420195,0.0,COR:Thu Feb 17 00:00:00 EST 2005:MR:2,...,Cornell University,http://www.splashcatalog.org:80/encounters/enc...,MR,Revillagigedo,MX-AR,18.8417,-110.9548,3.0,male,0.0
6391,,AD,"Trio, non-competitive",2005-02-16 11:29:00,798,,3,420195,0.0,COR:Wed Feb 16 00:00:00 EST 2005:MR:2,...,Cornell University,http://www.splashcatalog.org:80/encounters/enc...,MR,Revillagigedo,MX-AR,18.8322,-110.9233,3.0,male,0.0
8910,,,Unspecified competitive group member,2004-07-24 12:29:00,5003,Milling,Trio (non-comp.),420195,0.0,SWFSC:Sat Jul 24 00:00:00 EDT 2004:AR1:MAC296E,...,Southwest Fisheries Science Center,http://www.splashcatalog.org:80/encounters/enc...,AR1,Kodiak Island,NGOA,56.9473,-151.8303,3.0,male,0.0
9646,,JOINER,Pair,2004-03-07 11:00:00,4029,,Pair,420195,NaN,HSU:Sun Mar 07 00:00:00 EST 2004:PA:6,...,Humboldt State University,http://www.splashcatalog.org:80/encounters/enc...,PA,Revillagigedo,MX-AR,18.7384,-110.9938,2.0,male,0.0
9864,,SE,CH/SE,2004-03-23 12:05:00,3777,,Competitive Group,420195,NaN,COR:Tue Mar 23 00:00:00 EST 2004:MR:4,...,Cornell University,http://www.splashcatalog.org:80/encounters/enc...,MR,Revillagigedo,MX-AR,18.8817,-110.9684,9.0,male,0.0
10040,,,Solo,2004-02-18 14:25:00,3583,,Single,420195,NaN,HSU:Wed Feb 18 00:00:00 EST 2004:PA:7,...,Humboldt State University,http://www.splashcatalog.org:80/encounters/enc...,PA,Revillagigedo,MX-AR,18.7406,-111.0010,1.0,male,0.0
10151,,E2,CH/SE,2004-02-11 12:10:00,3432,,Trio,420195,NaN,UNAM:Wed Feb 11 00:00:00 EST 2004:LO:2,...,Universidad Nacional Autonoma de Mexico,http://www.splashcatalog.org:80/encounters/enc...,LO,Revillagigedo,MX-AR,18.7562,-111.0006,3.0,male,0.0
10171,,AD,Unspecified competitive group member,2004-02-23 12:00:00,3425,,Competitive Group,420195,NaN,UNAM:Mon Feb 23 00:00:00 EST 2004:LO:4,...,Universidad Nacional Autonoma de Mexico,http://www.splashcatalog.org:80/encounters/enc...,LO,Revillagigedo,MX-AR,18.7410,-111.0235,8.0,male,0.0
12476,,AD,Pair,2004-02-13 11:46:00,2791,,Pair,420195,NaN,COR:Fri Feb 13 00:00:00 EST 2004:MR:3,...,Cornell University,http://www.splashcatalog.org:80/encounters/enc...,MR,Revillagigedo,MX-AR,18.7465,-111.0004,2.0,male,0.0
12479,,AD,Pair,2004-02-13 11:04:00,2789,,Pair,420195,NaN,COR:Fri Feb 13 00:00:00 EST 2004:MR:2,...,Cornell University,http://www.splashcatalog.org:80/encounters/enc...,MR,Revillagigedo,MX-AR,18.7469,-110.9961,2.0,male,0.0
12546,,PE,Principle Escort in a competitive group,2004-02-11 15:59:00,2787,,Competitive Group,420195,NaN,COR:Wed Feb 11 00:00:00 EST 2004:MR:2A,...,Cornell University,http://www.splashcatalog.org:80/encounters/enc...,MR,Revillagigedo,MX-AR,18.7416,-110.9854,2.0,male,0.0
15140,,PE,Principle Escort in a competitive group,2004-02-10 13:24:00,1723,,Competitive Group,420195,NaN,HSU:Tue Feb 10 00:00:00 EST 2004:PA:4,...,Humboldt State University,http://www.splashcatalog.org:80/encounters/enc...,PA,Revillagigedo,MX-AR,18.7938,-111.0583,3.0,male,0.0
16361,,PE,Principle Escort in a competitive group,2004-02-11 10:14:00,2143,,Trio,420195,NaN,COR:Wed Feb 11 00:00:00 EST 2004:MR:2,...,Cornell University,http://www.splashcatalog.org:80/encounters/enc...,MR,Revillagigedo,MX-AR,18.7558,-110.9998,2.0,male,0.0
16381,,AD,Pair,2004-01-26 12:46:00,2130,,Pair,420195,NaN,COR:Mon Jan 26 00:00:00 EST 2004:MR:5,...,Cornell University,http://www.splashcatalog.org:80/encounters/enc...,MR,Revillagigedo,MX-AR,18.7261,-110.9042,2.0,male,0.0
16796,,,Solo,2004-02-27 10:22:00,2081,,Single,420195,NaN,HSU:Fri Feb 27 00:00:00 EST 2004:PA:4,...,Humboldt State University,http://www.splashcatalog.org:80/encounters/enc...,PA,Revillagigedo,MX-AR,18.7088,-110.9656,1.0,male,0.0
17251,,AD,Pair,2004-02-21 15:20:00,2021,,Pair,420195,NaN,UNAM:Sat Feb 21 00:00:00 EST 2004:LO:7,...,Universidad Nacional Autonoma de Mexico,http://www.splashcatalog.org:80/encounters/enc...,LO,Revillagigedo,MX-AR,18.7589,-111.0333,2.0,male,0.0

In [9]:
df[df['individual_id'] == '420248']['encounter_date'].dt.date.value_counts()

2005-03-29    3
2004-03-23    2
2004-03-20    2
2004-02-25    2
2006-03-23    2
2005-03-17    2
2004-03-07    2
2005-03-28    1
2006-03-07    1
2004-03-22    1
2004-03-13    1
2004-03-12    1
2005-03-31    1
2004-03-11    1
2005-04-06    1
2004-02-20    1
2005-03-05    1
2006-04-02    1
2004-03-09    1
2005-03-16    1
2005-02-23    1
2005-02-26    1
2006-02-24    1
2004-02-21    1
2004-03-26    1
2006-03-15    1
2005-03-12    1
Name: encounter_date, dtype: int64